@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPEx.Models.RegisterModel>

@*<div>
        @{ if (!Umbraco.MemberIsLoggedOn())
            {
                using (Html.BeginUmbracoForm("SubmitRegistration", "Member", System.Web.Mvc.FormMethod.Post, new { id = "register" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(m => m.Name)

                }
            }
        }
    </div>*@



@* the fun starts here *@



<section class="text-left texthome sectionLogin">

    <h3 class="font-weight-bold">Create an account</h3>
  

        <label class="font-weight-bold">Email Address</label><br />
        <input placeholder="Email Address" type="text" class="input-width form-control" /><br />

        <label class="font-weight-bold">Password &nbsp; </label><br />
        <input id="password-field" placeholder="Password" type="password"  class="form-control input-width"> <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span><br />
        <a class="btn btn-lg btn-primary btn-block " href="/about-intangibles" id="buttonStartHome" >Sign Up</a>

   
</section>
<div style="margin-top:20px; text-align:center; font:16px;"> <label>Already have an account? </label> <a href="/Login">Sign In?</a></div>

