@inherits Umbraco.Web.Mvc.UmbracoViewPage<Login>
@{
    Layout = "master.cshtml";
    var image = Model.Value<IPublishedContent>("SiteLogo");
}

@* the fun starts here *@

<div style="text-align: right; margin-right: 20px;margin-top: 21px;"><small>English</small></div>
<div class="text-center" sty> <img src="@image.Url" /></div>
<section class="text-left texthome sectionLogin">

    <h3 class="font-weight-bold">Sign In</h3>
    <form style="margin-top:20px;" class="form-horizontal" method="" action="">

        <label class="font-weight-bold">Email Address</label><br />
        <input placeholder="Email Address" type="text" class="input-width form-control" /><br />

        <label class="font-weight-bold">Password &nbsp; </label><a href="">Forgot Password?</a><br />
        <input id="password-field" placeholder="Password" type="password" name="password" class="form-control input-width"> <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span><br />
        <button class="btn btn-lg btn-primary btn-block " id="buttonStartHome" type="submit">Get Started</button>

    </form>
</section>
<div style="margin-top:20px; text-align:center; font:16px;"> <label>New User?</label> <a href="/Register">Create New Account</a></div>